<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="calendarServiceImpl" class="com.home.service.CalendarServiceImpl">
        <constructor-arg name="calendarDataStore" ref="calendarDataStoreImpl"/>
        <constructor-arg name="personDataStore" ref="personDataStoreImpl"/>
    </bean>

    <bean id="calendarDataStoreImpl" class="com.home.datastore.CalendarDataStoreImpl"/>
    <bean id="personDataStoreImpl" class="com.home.datastore.PersonDataStoreImpl"/>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- does not necessarily have to be the same name as the bean to be exported -->
        <property name="serviceName" value="CalendarService"/>
        <property name="service" ref="calendarServiceImpl"/>
        <property name="serviceInterface" value="com.home.service.CalendarService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>


</beans>